body {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2em;
    text-align: center;
    height: 100vh;
    margin: 0;
}

header a {
    font-size: 0.785rem;
    margin: 0 0.6rem;
}

a {
    text-decoration: none;
}

form {
    display: flex;
}

form input{
    width: 28em;
    height: 0.34em;
    border: none;
    background: #eee;
    padding: 1rem;
    border-radius: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

form input:focus {
    outline: none;
}

form button {
    background: #eee;
    border: none;
}

.container {
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.text-red {
    color: red;
}

main {
    margin: 3em 0;
}

@media screen and (max-width: 480px) {
    header a {
        margin: 0 0.2rem;
    }
    
    form {
        display: initial;
    }

    form input {
        width: 18em;
        display: block;
    }

    form button {
        margin-top: 0.75rem;
        width: 3rem;
        height: 2rem;
    }

    h1 {
        font-size: 1.6em;
    }

    small {
        font-size: 0.75em;
    }
}